<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jingbin.projectstru">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mvp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.UserLoginActivity" />
        <activity android:name=".mvc.LoadDataActivity" />
        <activity android:name=".mvvm.ChangeAgeActivity" />
    </application>

</manifest>